@{
    ViewBag.Title = "Home Page";
}


<section class="about__section style-two" style="margin-top:-120px">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-6 d-flex justify-content-center">
                <div class="image__block image-1">
                    <img src="../assets/images/resource/image-14.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <div class="content__block">
                    <div class="sec-title mb-40">
                        <div class="sub-title">About Us <span class="text-decor"></span></div>
                        <h2>Experienced Workers </h2>
                        <div class="text">At our esteemed institution, we pride ourselves on the unparalleled expertise of our medical staff. All of our doctors are not just trained professionals, but they are seasoned practitioners with extensive experience in their respective fields. Over the years, they have encountered a diverse range of medical cases, enhancing their practical knowledge and skills. This wealth of experience ensures that our patients receive the highest standard of care, backed by profound medical insight and a compassionate understanding of their needs. Trust in our team, for they represent a legacy of excellence and dedication in the medical community.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
        $(document).ready(function() {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                alert(successMessage);
            }
        });
</script>








