
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="auto-container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="widget widget-categories">
                <h3 class="widget-title">MRI Records</h3>
                <ul class="list">
                    <li><a href="@Url.Action("CheckMriAppointments", "Doctor", new { viewName = "CheckMriAppointments" })">Check MRI Appointments</a></li>
                    <li><a href="@Url.Action("Index", "Doctor", new { viewName = "SendEmail" })">Send Email</a></li>
                    <li><a href="@Url.Action("Index", "Doctor", new { viewName = "RateDoctor" })">Check My Rate</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 ">
            @{
                if (ViewBag.ViewName == "CheckMriAppointments")
                {
                    Html.RenderAction("CheckMriAppointments", "Doctor");
                }
                else if (ViewBag.ViewName == "CheckImages")
                {
                    Html.RenderAction("CheckImages", "Appointments");
                }
                else if (ViewBag.ViewName == "SendEmail")
                {
                    Html.RenderAction("SendEmail", "Mri");
                }
                else if (ViewBag.ViewName == "RateDoctor")
                {
                    Html.RenderAction("RateDoctor", "Mri");
                }
            }
        </div>
    </div>
</div>
