@{
    ViewBag.Title = "MRI Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="auto-container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="widget widget-categories">
                <h3 class="widget-title">MRI Service</h3>
                <ul class="list">
                    <li><a href="@Url.Action("Index", "Mri", new { viewName = "BookMriService" })">Book MRI Service</a></li>
                    <li><a href="@Url.Action("CheckImages", "Appointments")">Check My Images</a></li>
                    <li><a href="@Url.Action("Index", "SendEmail", new { viewName = "SendEmail" })">Send an Email</a></li>
                    <li><a href="@Url.Action("Index", "Rating", new { viewName = "RateDoctor" })">Rate a Doctor</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 ">
            @{
                if (ViewBag.ViewName == "BookMriService")
                {
                    Html.RenderAction("BookMriService", "Mri");
                }
                else if (ViewBag.ViewName == "CheckImages")
                {
                    Html.RenderAction("CheckImages", "Appointments");
                }
                else if (ViewBag.ViewName == "SendEmail")
                {
                    Html.RenderAction("SendEmail", "Mri");
                }
                else if (ViewBag.ViewName == "RateDoctor")
                {
                    Html.RenderAction("RateDoctor", "Mri");
                }
            }
        </div>
    </div>
</div>
