@{
    ViewBag.Title = "SentToChatCommunity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class=" my-4">Live Chat</h2>

        <div class="col-md-6">
            <div class="border chat-box p-3 rounded" id="chatArea">
                <input type="hidden" id="displayname" />
                <ul id="discussion"></ul>
            </div>
        </div>

        <div class="col-md-6 mt-3">
            <div class="form-group">
                <textarea class="form-control" id="message" rows="1" placeholder="Share what's in your mind..."></textarea>
                <button type="button" class="btn btn-primary mt-3" id="sendmessage">Send</button>
            </div>
        </div>

</div>

@section scripts {

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(() => {
            const chat = $.connection.chatHub;

            const addNewMessageToPage = (name, message) => {
                const listItem = `
                        <li class="mb-3">
                            <strong class="text-danger">${htmlEncode(name)}</strong> :
                            <span class="text-secondary">${htmlEncode(message)}</span>
                        </li>
                    `;
                $('#discussion').append(listItem);
            };

            const htmlEncode = (value) => {
                return $('<div />').text(value).html();
            };

            chat.client.addNewMessageToPage = addNewMessageToPage;

            const displayName = prompt('Your Good Name Please:', '');
            $('#displayname').val(displayName);

            $('#message').focus();

            $.connection.hub.start().done(() => {
                $('#sendmessage').click(() => {
                    const name = $('#displayname').val();
                    const message = $('#message').val();
                    chat.server.send(name, message);
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}

<!-- Add CSS for chat box -->
<style>
    .chat-box {
        height: 200px;
        overflow-y: scroll;
    }
</style>
