<!DOCTYPE html>
<html>
<head>
    <title>Your ASP.NET MVC App</title>
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.min.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            // 一些模拟的事件数据
            var eventsArray = [
                {
                    title: '事件1',
                    start: new Date().toISOString().slice(0, 10), // 今天
                    end: new Date().toISOString().slice(0, 10) // 今天
                },
                {
                    title: '事件2',
                    start: new Date(new Date().setDate(new Date().getDate() + 1)).toISOString().slice(0, 10), // 明天
                    end: new Date(new Date().setDate(new Date().getDate() + 1)).toISOString().slice(0, 10) // 明天
                }
            ];

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: new Date().toISOString().slice(0, 10), // 默认日期为今天
                navLinks: true, // 可以点击日历标题导航
                selectable: true,
                selectHelper: true,
                select: function (start, end) {
                    var title = prompt('事件标题:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true, // 允许拖动和缩放
                eventLimit: true, // 当太多事件时显示"更多"链接
                events: eventsArray
            });
        });
    </script>




</body>
</html>
