        <!--Main Footer-->
<footer class="main-footer mt-5">
    <div class="shape-one">
        <img src="~/assets/images/shape/shape-8.png" alt="">
    </div>
    <div class="shape-two">
        <img src="~/assets/images/shape/shape-9.png" alt="">
    </div>
    <div class="upper-box">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">

                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget about-widget">
                            <h3 class="widget-title">About Us</h3>
                            <div class="text">Learn more about us</div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget links-widget">
                            <h3 class="widget-title">Services</h3>
                            <div class="widget-content">
                                <ul>
                                    <li>
                                        <a href="#">Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Listing</a>
                                    </li>
                                    <li>
                                        <a href="#">How It Works</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget links-widget">
                            <h3 class="widget-title">Useful Links</h3>
                            <div class="widget-content">
                                <ul>
                                    <li>
                                        <a href="#">Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of Use</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Services</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="wrapper-box">
                <div class="copyright-text">© HealthHub 2023 | All Rights by Tan</div>
                <ul class="social-links">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End Main Footer-->
